# folders
**/__pycache__
/.vscode
Lavalink

# py files
examples.py
reworkedConfig.py
test.py

# environment
.env

# misc fiels
**/**.mp3

# private files
serversSettings.json
serversPrefixes.json
settings.json
start.bat
discordBot.db
